engine-strict=true

public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=commitizen
public-hoist-pattern[]=lint-staged


# 启用，如果树中缺少或无效的对等依赖项，命令将失败
strict-peer-dependencies=true

# 自动安装任何缺少的非可选对等依赖项
auto-install-peers=true

# 从工作空间根目录解析对等依赖项(根工作区项目的依赖项用于解决工作区中任何项目的对等依赖项)
# 这是一个有用的功能，因为您只能在工作区的根目录中安装对等依赖项，并且可以确保工作区中的所有项目都使用相同版本的对等依赖项
resolve-peers-from-workspace-root=true

# 当设置为 false 时，pnpm 不会读取或生成 pnpm-lock.yaml 文件
lockfile=true


use-lockfile-v6=true

strict-peer-dependencies=false
